* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

button {
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px #000;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #666;
}